/* ########## FONT ########## */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&display=swap');
/*font-family: 'IBM Plex Serif',*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');
/*font-family: 'IBM Plex Sans', sans-serif;*/

@font-face {
    font-family: Cartograph Mono CF;
    src: url(../fonts/cartograph-mono-cf-demi-bold.woff2);
    src: url(../fonts/cartograph-mono-cf-demi-bold.woff2) format('woff2');
}

@font-face {
    font-family: Cartograph Mono CF Medium;
    src: url(../fonts/CartographMonoCF-Medium.woff2);
    src: url(../fonts/CartographMonoCF-Medium.woff2) format('woff2');
}

@font-face {
    font-family: Cartograph Sans CF;
    src: url(../fonts/cartograph-sans-cf-demi-bold.woff2);
    src: url(../fonts/cartograph-sans-cf-demi-bold.woff2) format('woff2');
}

@font-face {
    font-family: Cartograph Mono CF Heavy;
    src: url(../fonts/Cartograph-Mono-CF-Heavy.woff2);
    src: url(../fonts/Cartograph-Mono-CF-Heavy.woff2) format('woff2');
}

/* ########## DOM ########## */
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

html {
    --color-main: #f5c86e;
    --color-secondary: #2b4162;
    --font-sans: 'IBM Plex Sans', sans-serif;
    --font-sans-secondary: "Cartograph Sans CF", sans-serif;
    --font-serif: "IBM Plex Serif", serif;
    --font-mono: "Cartograph Mono CF", monospace;

}

.websiteMargin {
    margin-left: 4vh;
    margin-right: 4vh;
}

.websiteMargin2 {
    margin-left: 15vh;
    margin-right: 15vh;
}

.bg-yellow {
    background-color: var(--color-main);
    color: white;
}
.yellow {
    color: var(--color-main);
}

.bg-blue {
    background-color: var(--color-secondary);
}

.rounded {
    border-radius: 1rem !important;
}

.bordoHeader {
    border-bottom: 2px solid white;
}

.allineamento {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
}
/* ########## TYPO ########## */
p {
    margin: 0;
}

.display-5 {
    font-size: 2vh;
}

.display-6 {
    font-size: 2.6vh;
}

.display-7 {
    font-size: 1.8vh;
}

.display-8 {
    font-size: 2.3vh;
}

.display-9 {
    font-size: 1.8vh;
}

.claim {
    font-size: 2.5vh;
}

.ibmSerifBold {
    font-family: var(--font-serif);
}

.cartoMonodB {
    font-family: var(--font-mono);
}

.ibmSans {
    font-size: 3.25vh;
    font-family: var(--font-sans);
}

.cartoMonoHeavy {
    font-family: var(--font-mono);
    font-weight: bold;
}

.cartoMonoMedium {
    font-family: var(--font-mono);
    font-weight: medium;
}

.cartoSansdB {
    font-family: var(--font-sans-secondary);
}


.accordion-button::after {
    margin-left: auto;
}

.accordion-button:not(.collapsed) {
    color: var(--color-secondary);
    background-color: white;
    box-shadow: none;
}

.bordo {
    border-radius: 10px !important;
}

.accordion-button:focus {
    border-color: white;
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") ;
}


/* ########## UTILITY ##########  */
.logo {
  width: 25%;
}

.bottonePartecipa {
    margin-left: auto; margin-right: 10px
}

@keyframes mymove {
    from {
        top: 0;
    }

    to {
        top: 15px;
    }
}


#svg2 {
    width: 7vh;
    position: relative;
    animation: mymove 1s infinite alternate;
}

.accordion-body {
    border-top: 2px solid var(--color-secondary);
}

.accordion-item {
    border: 2px solid var(--color-secondary);
}

.linkNome {
    color: var(--color-secondary);
    text-decoration: none;
}

.linkNome:hover {
    color: var(--color-main);
    text-decoration: none;
}

.bordoDx {
    border-right: 2px solid var(--color-secondary);
}

.marginImg {
    padding-bottom: 0;
}

.desk {
    display: initial;
}
.mob {
    display: none;
}

@media only screen and (max-width: 990px) {
    .bordoDx {
        border-bottom: 2px solid var(--color-secondary);
        border-right: 0 solid var(--color-secondary);
    }
}

/* iphone */
@media only screen and (max-width: 500px) {
    .websiteMargin {
        margin-left: auto;
        margin-right: auto;
    }

  .websiteMargin2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .allineamento {
    display: flex;
    justify-content: right;
  }

  .logo {
    width: 70%;
  }

  .ibmSans {
    font-size: 2.5vh;
    font-family: var(--font-sans);
  }

  .footer-mob {
    text-align: left;
    padding-top: 1rem;
  }

    .bordoDx {
        border-bottom: 2px solid var(--color-secondary);
        border-right: 0 solid var(--color-secondary);
    }

    .marginImg {
        padding-bottom: 10px;
    }

    .desk {
        display: none;
    }
    .mob {
        display: initial;
    }
    .claim {
        font-size: 2vh;
    }

    .mobileBottom {
        margin-bottom: 15px;
    }

}
