/* ########## FONT ########## */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&display=swap');
/*font-family: 'IBM Plex Serif',*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');
/*font-family: 'IBM Plex Sans', sans-serif;*/

@font-face {
    font-family: "Cartograph Mono CF";
    src: url('./assets/fonts/cartograph-mono-cf-demi-bold.woff2') format('woff2'),
}

@font-face {
    font-family: "Cartograph Mono CF Medium";
    src: url('./assets/fonts/CartographMonoCF-Medium.woff2') format('woff2'),
}

@font-face {
    font-family: "Cartograph Sans CF";
    src: url('./assets/fonts/cartograph-sans-cf-demi-bold.woff2') format('woff2'),
}

@font-face {
    font-family: "Cartograph Mono CF Heavy";
    src: url('./assets/fonts/Cartograph-Mono-CF-Heavy.woff2') format('woff2'),
}


#flush-collapseOne > div > div > div:nth-child(1) > div > div > a {
    color: var(--color-secondary);
    text-decoration: none;
}

#flush-collapseOne > div > div > div:nth-child(1) > div > div > a:hover {
    color: var(--color-main);
    text-decoration: none;
}

#flush-collapseTwo > div > div > div:nth-child(1) > div > div > a {
    color: var(--color-secondary);
    text-decoration: none;
}

#flush-collapseTwo > div > div > div:nth-child(1) > div > div > a:hover {
    color: var(--color-main);
    text-decoration: none;
}

/* ########## DOM ########## */
body {
    overflow-x: hidden;
}

html {
    --color-main: #f5c86e;
    --color-secondary: #2b4162;
    --font-sans: 'IBM Plex Sans', sans-serif;
    --font-sans-secondary: "Cartograph Sans CF", sans-serif;
    --font-serif: "IBM Plex Serif", serif;
    --font-mono: "Cartograph Mono CF", monospace;

}

.websiteMargin {
    margin-left: 4vh;
    margin-right: 4vh;
}

.websiteMargin2 {
    margin-left: 15vh;
    margin-right: 15vh;
}

.bg-yellow {
    background-color: var(--color-main);
    color: white;
}

.bg-blue {
    background-color: var(--color-secondary);
}

.rounded {
    border-radius: 1rem !important;
}

.allineamento {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
}
/* ########## TYPO ########## */
p {
    margin: 0;
}

.display-5 {
    font-size: 2vh;
}

.display-6 {
    font-size: 2.5vh;
}

.display-7 {
    font-size: 1.7vh;
}

.display-8 {
    font-size: 2.3vh;
}

.ibmSerifBold {
    font-family: var(--font-serif);
}

.cartoMonodB {
    font-family: var(--font-mono);
}

.ibmSans {
    font-size: 3.25vh;
    font-family: var(--font-sans);
}

.cartoMonoHeavy {
    font-family: var(--font-mono);
    font-weight: bold;
}

.cartoMonoMedium {
    font-family: var(--font-mono);
    font-weight: medium;
}

.cartoSansdB {
    font-family: var(--font-sans-secondary);
}


.accordion-button::after {
    margin-left: unset;
}

.accordion-button:not(.collapsed) {
    color: var(--color-secondary);
    background-color: white;
    box-shadow: none;
}

/* ########## UTILITY ########## */
.logo {
  width: 25%;
}

.bottonePartecipa {
    margin-left: auto; margin-right: 10px
}

@keyframes mymove {
    from {
        top: 0;
    }

    to {
        top: 15px;
    }
}


#svg2 {
    width: 6vh;
    position: relative;
    animation: mymove 1s infinite alternate;
}

.accordion-body {
    border-top: 2px solid var(--color-secondary);
}

.accordion-item {
    border: 2px solid var(--color-secondary);
}

.linkNome {
    color: var(--color-secondary);
    text-decoration: none;
}

.linkNome:hover {
    color: var(--color-main);
    text-decoration: none;
}

.bordoDx {
    border-right: 2px solid var(--color-secondary);
}

/* iphone */
@media only screen and (max-width: 414px) {
    .websiteMargin {
        margin-left: auto;
        margin-right: auto;
    }

  .websiteMargin2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .allineamento {
    display: flex;
    justify-content: right;
  }

  .logo {
    width: 50%;
  }

  .ibmSans {
    font-size: 2.5vh;
    font-family: var(--font-sans);
  }

  .footer-mob {
    text-align: center;
    padding-top: 1rem;
  }

    .bordoDx {
        border-bottom: 2px solid var(--color-secondary);
        border-right: 0px solid var(--color-secondary);
    }

}
