/* ########## FONT ########## */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&display=swap');
/*font-family: 'IBM Plex Serif', serif;*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');
/*font-family: 'IBM Plex Sans', sans-serif;*/

@font-face {
  font-family: "Cartograph Mono CF";
  src: url('./assets/fonts/cartograph-mono-cf-demi-bold.woff2') format('woff2'),
}

@font-face {
  font-family: "Cartograph Mono CF Medium";
  src: url('./assets/fonts/CartographMonoCF-Medium.woff2') format('woff2'),
}

@font-face {
  font-family: "Cartograph Sans CF";
  src: url('./assets/fonts/cartograph-sans-cf-demi-bold.woff2') format('woff2'),
}

@font-face {
  font-family: "Cartograph Mono CF Heavy";
  src: url('./assets/fonts/Cartograph-Mono-CF-Heavy.woff2') format('woff2'),
}


#flush-collapseOne > div > div > div:nth-child(1) > div > div > a {
  color:#2b4162;
  text-decoration: none;
}

#flush-collapseOne > div > div > div:nth-child(1) > div > div > a:hover {
  color:#f5c86e;
  text-decoration: none;
}

#flush-collapseTwo > div > div > div:nth-child(1) > div > div > a {
  color:#2b4162;
  text-decoration: none;
}

#flush-collapseTwo > div > div > div:nth-child(1) > div > div > a:hover {
  color:#f5c86e;
  text-decoration: none;
}

/* ########## DOM ########## */
body {
  overflow-x: hidden;
}
html {
  --color-main: #9437FF;
  --color-text-primary: white;
  --color-text-secondary: #FF0009;
  --font-secondary: Messapia-Bold;
  --font-text: "Inter", sans-serif;
  --font-light: 300;
  --font-reg: 400;
  --font-med: 500;
  --font-bold: 600;
  --font-xbold: 700;
  --font-xxbold: 800;
  --fontitalic: italic;
  --fontsize-title: 18px;
}

.websiteMargin {
margin-left: 4vh;
  margin-right: 4vh;
}

.websiteMargin2 {
  margin-left: 15vh;
  margin-right: 15vh;
}

.bg-yellow{
  background-color: #f5c86e;
  color: white;
}

.bg-blue {
  background-color: #2b4162;
}

.rounded {
  border-radius: 1rem !important;
}

/* ########## TYPO ########## */
p {
  margin: 0;
}

.display-5 {
font-size: 2vh;
}

.display-6 {
  font-size: 2.5vh;
}

.display-7 {
  font-size: 1.7vh;
}

.display-8 {
  font-size: 2.3vh;
}

.ibmSerifBold {
  font-family: "IBM Plex Serif", serif;
}

.cartoMonodB {
  font-family: "Cartograph Mono CF" , monospace;
}

.ibmSans {
  font-size: 3.25vh;
  font-family: 'IBM Plex Sans', sans-serif;
}

.cartoMonoHeavy {
  font-family: "Cartograph Mono CF" , monospace;
  font-weight: bold;
}

.cartoMonoMedium {
  font-family: "Cartograph Mono CF" , monospace;
  font-weight: medium;
}

.cartoSansdB {
  font-family: "Cartograph Sans CF";
}


.accordion-button::after {
  margin-left: unset;
}

.accordion-button:not(.collapsed) {
  color: #2b4162;
  background-color: white;
  box-shadow: none;
}

/* ########## UTILITY ########## */
@keyframes mymove {
  from {
    top: 0;
  }

  to {
    top: 15px;
  }
}


#svg2{
  width: 6vh;
  position: relative;

  animation: mymove 1s infinite alternate;
}


/* ########## MARQUEE ########## */
/* .marquee {
  overflow: hidden;
  --offset: 0vw;
  --move-initial: calc(-5% + var(--offset));
  --move-final: calc(-20% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}

.marquee span {
  font-size: 25px;
  padding: 0 2vw;
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  font-style: var(--fontitalic);
  color: var(--color-text-secondary);
}

.country span {
  color: #FDEF4B;
}

.marquee__inner:hover {
  animation-play-state: running;
  cursor:context-menu;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
} */

/* ########## NAVBAR ########## */


/* ########## HOME PAGE ########## */


/* ########## CATEGORY PAGE ########## */


/* ########## PRODUCT PAGE ########## */

/* ########## ABOUT PAGE ########## */


/* iphone */
@media only screen and (max-width: 414px) {
  .websiteMargin {
    margin-left: auto;
    margin-right: auto;
  }
}
